In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df1

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df2 = pd.DataFrame({'A': [4, 5, 6], 'B': [7, 8, 9]})
df2

   A  B
0  4  7
1  5  8
2  6  9

In [4]:
df1.append(df2)

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9

In [5]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
# 忽略原始的 index
df1.append(df2, ignore_index=True)

   A  B
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8
5  6  9

In [7]:
# 更通用的 merge 方法
pd.concat([df1, df2])

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9

In [8]:
pd.concat([df1, df2], axis=1)

   A  B  A  B
0  1  4  4  7
1  2  5  5  8
2  3  6  6  9

In [9]:
pd.concat([df1, df2], keys=['UK', 'DE'])

      A  B
UK 0  1  4
   1  2  5
   2  3  6
DE 0  4  7
   1  5  8
   2  6  9

In [10]:
pd.concat([df1, df2], keys=['UK', 'DE'], axis=1)

  UK    DE
   A  B  A  B
0  1  4  4  7
1  2  5  5  8
2  3  6  6  9

In [18]:
pd.concat([df1, df2], keys=['UK', 'DE']).loc['UK', 0]

A    1
B    4
Name: (UK, 0), dtype: int64

In [20]:
pd.concat([df1, df2], keys=['UK', 'DE']).loc['UK', 1]

A    2
B    5
Name: (UK, 1), dtype: int64

In [21]:
df3 = pd.concat([df1, df2], keys=['UK', 'DE'])
df3

      A  B
UK 0  1  4
   1  2  5
   2  3  6
DE 0  4  7
   1  5  8
   2  6  9

In [26]:
df3.loc['UK']

   A  B
0  1  4
1  2  5
2  3  6

In [27]:
# SQL-like
import numpy as np

In [28]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': range(4)})
df1

  key  value
0   A      0
1   B      1
2   C      2
3   D      3

In [29]:
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'], 'value': range(10, 14)})
df2

  key  value
0   B     10
1   D     11
2   D     12
3   E     13

In [30]:
df1.merge(df2, on='key')

  key  value_x  value_y
0   B        1       10
1   D        3       11
2   D        3       12

In [31]:
df1.merge(df2, on='key', how='left')

  key  value_x  value_y
0   A        0      NaN
1   B        1     10.0
2   C        2      NaN
3   D        3     11.0
4   D        3     12.0

In [32]:
# Group
df2

  key  value
0   B     10
1   D     11
2   D     12
3   E     13

In [35]:
df2.groupby('key').max()

     value
key
B       10
D       12
E       13

In [36]:
df3

      A  B
UK 0  1  4
   1  2  5
   2  3  6
DE 0  4  7
   1  5  8
   2  6  9

In [40]:
df3.pivot('A', columns='B', values=['B'])

     B
B    4    5    6    7    8    9
A
1  4.0  NaN  NaN  NaN  NaN  NaN
2  NaN  5.0  NaN  NaN  NaN  NaN
3  NaN  NaN  6.0  NaN  NaN  NaN
4  NaN  NaN  NaN  7.0  NaN  NaN
5  NaN  NaN  NaN  NaN  8.0  NaN
6  NaN  NaN  NaN  NaN  NaN  9.0