In [24]:
import pandas as pd
import numpy as np

In [25]:
data = {
    'Year': [2000, 2001, 2002, 2003],
    'Product': [10.03, 11.09, 12.17, 13.74]
}
dataframe = pd.DataFrame(data)
dataframe

   Year  Product
0  2000    10.03
1  2001    11.09
2  2002    12.17
3  2003    13.74

In [26]:
# 使用 columns 参数作 columns 排序
dataframe2 = pd.DataFrame(data, columns=['Product', 'Year'])
dataframe2

   Product  Year
0    10.03  2000
1    11.09  2001
2    12.17  2002
3    13.74  2003

In [27]:
# 同时使用 index 和 columns 参数
dataframe3 = pd.DataFrame(data, columns=['Product', 'Year'], index=['a', 'b', 'c', 'd'])
dataframe3

   Product  Year
a    10.03  2000
b    11.09  2001
c    12.17  2002
d    13.74  2003

In [28]:
# 访问 DataFrame 的列
## Case 1
dataframe3.Product

a    10.03
b    11.09
c    12.17
d    13.74
Name: Product, dtype: float64

In [29]:
## Case 2
dataframe3['Product']

a    10.03
b    11.09
c    12.17
d    13.74
Name: Product, dtype: float64

In [30]:
# DataFrame 新增一列
dataframe3['Populace'] = [126743, 127627, 128453, 129227]
dataframe3

   Product  Year  Populace
a    10.03  2000    126743
b    11.09  2001    127627
c    12.17  2002    128453
d    13.74  2003    129227

In [31]:
# 访问 DataFrame 的一行
## Case 1 .iloc 通过整数索引值取一行
dataframe3.iloc[0]

Product         10.03
Year          2000.00
Populace    126743.00
Name: a, dtype: float64

In [32]:
## Case 2 .loc 通过索引值取一行
dataframe3.loc['a']

Product         10.03
Year          2000.00
Populace    126743.00
Name: a, dtype: float64

In [33]:
dataframe3

   Product  Year  Populace
a    10.03  2000    126743
b    11.09  2001    127627
c    12.17  2002    128453
d    13.74  2003    129227

In [34]:
# .head 和 tail 用于查看前 n 行或后 n 行
## Case 1
dataframe3.head(1)

   Product  Year  Populace
a    10.03  2000    126743

In [35]:
## Case 2
dataframe3.tail(1)

   Product  Year  Populace
d    13.74  2003    129227

In [39]:
columns = ['x', 'y']
dataframe4 = pd.DataFrame(np.random.rand(8, 2), columns=columns, index=['point{0}'.format(idx) for idx in range(8)])
dataframe4

               x         y
point0  0.471262  0.722694
point1  0.298668  0.952122
point2  0.651043  0.587749
point3  0.838603  0.979577
point4  0.593755  0.584091
point5  0.894599  0.851924
point6  0.313031  0.843849
point7  0.857707  0.496455

In [40]:
dataframe5 = pd.DataFrame(np.random.rand(8, 2), columns=columns, index=['point{0}'.format(idx) for idx in range(8)])
dataframe5

               x         y
point0  0.331815  0.659741
point1  0.423469  0.285353
point2  0.949556  0.886314
point3  0.398514  0.973473
point4  0.675707  0.771387
point5  0.375466  0.931312
point6  0.186534  0.096133
point7  0.956707  0.736742

In [41]:
# 数值类型的 DataFrame 相加
dataframe4 + dataframe5

               x         y
point0  0.803077  1.382435
point1  0.722137  1.237475
point2  1.600599  1.474063
point3  1.237118  1.953050
point4  1.269463  1.355478
point5  1.270065  1.783237
point6  0.499565  0.939982
point7  1.814415  1.233197

In [42]:
# DataFrame 间的加、减、乘、除
## Case 1 add
dataframe4.add(dataframe5)

               x         y
point0  0.803077  1.382435
point1  0.722137  1.237475
point2  1.600599  1.474063
point3  1.237118  1.953050
point4  1.269463  1.355478
point5  1.270065  1.783237
point6  0.499565  0.939982
point7  1.814415  1.233197

In [43]:
dataframe4

               x         y
point0  0.471262  0.722694
point1  0.298668  0.952122
point2  0.651043  0.587749
point3  0.838603  0.979577
point4  0.593755  0.584091
point5  0.894599  0.851924
point6  0.313031  0.843849
point7  0.857707  0.496455

In [44]:
## Case 2 sub
dataframe4.sub(dataframe5)

               x         y
point0  0.139448  0.062952
point1 -0.124802  0.666769
point2 -0.298513 -0.298566
point3  0.440089  0.006104
point4 -0.081952 -0.187296
point5  0.519134 -0.079388
point6  0.126497  0.747716
point7 -0.099000 -0.240288

In [46]:
## Case 3 mul
dataframe4.mul(dataframe5)

               x         y
point0  0.156372  0.476791
point1  0.126476  0.271691
point2  0.618202  0.520930
point3  0.334195  0.953592
point4  0.401205  0.450560
point5  0.335891  0.793408
point6  0.058391  0.081122
point7  0.820575  0.365759

In [47]:
## Case 4 div
dataframe4.div(dataframe5)

               x         y
point0  1.420258  1.095420
point1  0.705288  3.336646
point2  0.685628  0.663138
point3  2.104324  1.006270
point4  0.878717  0.757196
point5  2.382640  0.914757
point6  1.678147  8.777946
point7  0.896520  0.673851

In [48]:
# 统计概览
dataframe5.describe()

              x         y
count  8.000000  8.000000
mean   0.537221  0.667557
std    0.289996  0.316056
min    0.186534  0.096133
25%    0.364553  0.566144
50%    0.410992  0.754065
75%    0.744170  0.897564
max    0.956707  0.973473

In [49]:
## Case 1 percentiles 参数获取分位数
dataframe5.describe(percentiles=[0.23, 0.25])

              x         y
count  8.000000  8.000000
mean   0.537221  0.667557
std    0.289996  0.316056
min    0.186534  0.096133
23%    0.358442  0.513730
25%    0.364553  0.566144
50%    0.410992  0.754065
max    0.956707  0.973473

In [50]:
# apply
## Case 1
dataframe5.apply(np.std, axis=1)

point0    0.163963
point1    0.069058
point2    0.031621
point3    0.287479
point4    0.047840
point5    0.277923
point6    0.045201
point7    0.109983
dtype: float64

In [51]:
## Case 2
def mySum(s):
    return sum(s)

dataframe5.apply(mySum, axis=0)

x    4.297769
y    5.340456
dtype: float64