In [17]:
import pandas as pd
import numpy as np

In [18]:
data = {
    'Year': [2000, 2001, 2002, 2003],
    'Product': [10.03, 11.09, 12.17, 13.74]
}
dataframe = pd.DataFrame(data)
dataframe

   Year  Product
0  2000    10.03
1  2001    11.09
2  2002    12.17
3  2003    13.74

In [22]:
# .reindex 可以设置行序
dataframe.reindex([3, 2, 1, 0])

   Year  Product
3  2003    13.74
2  2002    12.17
1  2001    11.09
0  2000    10.03

In [23]:
# .reindex 也可以设置列序
dataframe.reindex(index=[3, 2, 1, 0], columns=['Product', 'Year'])

   Product  Year
3    13.74  2003
2    12.17  2002
1    11.09  2001
0    10.03  2000