In [1]:
# @link https://towardsdatascience.com/5-pandas-group-by-tricks-you-should-know-in-python-f53246c92c94
import pandas as pd

In [2]:
df = pd.read_csv('../assets/Dummy_Sales_Data_v1.csv')
df.head()

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223

In [3]:
groupProductCategory = df.groupby('Product_Category')
groupProductCategory

In [4]:
# 取去重后的分类个数
df['Product_Category'].nunique()

5

In [5]:
# 同上
groupProductCategory.ngroups

5

In [6]:
# 各分组大小
groupProductCategory.size()

Product_Category
Entertainment    1968
Fashion          1971
Healthcare       1953
Home             2060
Office           2011
dtype: int64

In [7]:
groupProductCategory.count()

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
Product_Category,,,,,,,,,,,
Entertainment,1968,1968,1968,1968,1968,1968,1968,1959,1968,1968,1968
Fashion,1971,1971,1971,1971,1971,1971,1971,1963,1971,1971,1971
Healthcare,1953,1953,1953,1953,1953,1953,1953,1937,1953,1953,1953
Home,2060,2060,2060,2060,2060,2060,2060,2049,2060,2060,2060
Office,2011,2011,2011,2011,2011,2011,2011,2004,2011,2011,2011

In [8]:
groupProductCategory.first()

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
Product_Category,,,,,,,,,,,
Entertainment,4934810000999949348,51,204,Not Delivered,2021-11-13,Abdul,32,18.0,UK,ENT-188,445113
Fashion,1112610000999911126,33,133,Not Shipped,2021-07-30,Abdul,34,24.0,USA,F-555,444007
Healthcare,2951110000999929511,92,238,Not Delivered,2021-08-08,Pablo,21,25.0,Singapore,HC-188,444116
Home,4337210000999943372,57,226,Not Shipped,2021-09-27,John,24,14.0,UK,H-555,444666
Office,2181910000999921819,61,136,Not Delivered,2021-10-03,Pablo,34,14.0,UK,O-555,444772

In [10]:
groupProductCategory.last()

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
Product_Category,,,,,,,,,,,
Entertainment,1468010000999914680,53,229,Delivered,2021-07-12,Anthony,25,12.0,Singapore,ENT-630,443889
Fashion,2281610000999922816,18,117,Shipped,2021-12-23,Stella,22,24.0,Italy,F-101,445553
Healthcare,1847410000999918474,37,135,Shipped,2021-10-03,Maria,30,23.0,China,HC-901,444772
Home,2301610000999923016,75,201,Not Delivered,2021-10-16,Sofia,20,14.0,Kenya,H-555,444885
Office,2385710000999923857,81,207,Delivered,2021-11-13,Emma,29,18.0,USA,O-203,445113

In [11]:
groupProductCategory.nth(3)

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
Product_Category,,,,,,,,,,,
Entertainment,4030410000999940304,21,123,Not Delivered,2021-10-10,Kristen,30,15.0,India,ENT-188,444779
Fashion,2804110000999928041,31,163,Not Shipped,2021-12-23,Abdul,34,16.0,Kenya,F-901,445553
Healthcare,4276410000999942764,83,224,Not Delivered,2021-07-10,Sofia,24,24.0,Kenya,HC-203,443887
Home,3105110000999931051,79,213,Delivered,2021-10-26,Abdul,27,14.0,China,H-203,444995
Office,1444810000999914448,5,119,Not Shipped,2021-10-13,Stella,33,20.0,India,O-555,444882

In [13]:
# 取一个分组的所有记录
groupProductCategory.get_group('Healthcare')

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
6,2750410000999927504,73,242,Not Delivered,2021-07-08,Healthcare,Emma,34,10.0,UK,HC-555,443885
14,2559910000999925599,55,233,Not Delivered,2021-07-15,Healthcare,Kristen,25,18.0,India,HC-555,443992
19,4276410000999942764,83,224,Not Delivered,2021-07-10,Healthcare,Sofia,24,24.0,Kenya,HC-203,443887
22,2111510000999921115,74,250,Delivered,2021-12-08,Healthcare,Maria,25,21.0,Italy,HC-901,445338
...,...,...,...,...,...,...,...,...,...,...,...,...
9981,4904910000999949049,73,209,Shipped,2021-08-20,Healthcare,Sofia,33,12.0,UK,HC-203,444228
9983,4107210000999941072,57,162,Not Delivered,2021-08-26,Healthcare,Abdul,23,21.0,India,HC-188,444334
9986,1868610000999918686,30,162,Not Delivered,2021-12-12,Healthcare,Pablo,35,11.0,Italy,HC-630,445442
9988,4264110000999942641,4,187,Not Delivered,2021-11-20,Healthcare,Maria,34,15.0,UK,HC-203,445220
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772

In [14]:
df[df['Product_Category']=='Home']

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
10,4337210000999943372,57,226,Not Shipped,2021-09-27,Home,John,24,14.0,UK,H-555,444666
13,4583610000999945836,46,208,Not Shipped,2021-07-28,Home,Jacob,29,19.0,UK,H-188,444005
16,2808810000999928088,96,115,Delivered,2021-10-17,Home,Jacob,30,25.0,Kenya,H-901,444886
18,3105110000999931051,79,213,Delivered,2021-10-26,Home,Abdul,27,14.0,China,H-203,444995
26,2958410000999929584,53,141,Shipped,2021-10-29,Home,Pablo,34,18.0,Italy,H-203,444998
...,...,...,...,...,...,...,...,...,...,...,...,...
9975,3001610000999930016,80,174,Delivered,2021-08-30,Home,Maria,33,25.0,China,H-188,444338
9977,3374310000999933743,37,156,Delivered,2021-08-28,Home,Maria,23,18.0,Singapore,H-188,444336
9980,1019210000999910192,37,159,Delivered,2021-10-26,Home,Jacob,29,12.0,India,H-555,444995
9982,3848110000999938481,13,108,Shipped,2021-07-03,Home,Sofia,32,18.0,Germany,H-555,443880
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885

In [15]:
groupProductCategory.get_group('Home')

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
10,4337210000999943372,57,226,Not Shipped,2021-09-27,Home,John,24,14.0,UK,H-555,444666
13,4583610000999945836,46,208,Not Shipped,2021-07-28,Home,Jacob,29,19.0,UK,H-188,444005
16,2808810000999928088,96,115,Delivered,2021-10-17,Home,Jacob,30,25.0,Kenya,H-901,444886
18,3105110000999931051,79,213,Delivered,2021-10-26,Home,Abdul,27,14.0,China,H-203,444995
26,2958410000999929584,53,141,Shipped,2021-10-29,Home,Pablo,34,18.0,Italy,H-203,444998
...,...,...,...,...,...,...,...,...,...,...,...,...
9975,3001610000999930016,80,174,Delivered,2021-08-30,Home,Maria,33,25.0,China,H-188,444338
9977,3374310000999933743,37,156,Delivered,2021-08-28,Home,Maria,23,18.0,Singapore,H-188,444336
9980,1019210000999910192,37,159,Delivered,2021-10-26,Home,Jacob,29,12.0,India,H-555,444995
9982,3848110000999938481,13,108,Shipped,2021-07-03,Home,Sofia,32,18.0,Germany,H-555,443880
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885

In [16]:
for groupName, groupRecords in groupProductCategory:
    print(groupName, groupRecords.shape)

Entertainment (1968, 12)
Fashion (1971, 12)
Healthcare (1953, 12)
Home (2060, 12)
Office (2011, 12)

In [20]:
df.groupby('Product_Category')[['UnitPrice(USD)', 'Quantity']].mean()

                  UnitPrice(USD)   Quantity
Product_Category
Entertainment         176.038618  49.851118
Fashion               176.117199  51.255200
Healthcare            175.489503  50.905274
Home                  175.354854  50.705340
Office                175.127300  50.913476

In [21]:
df.groupby('Product_Category')[['UnitPrice(USD)', 'Quantity']].min()

                  UnitPrice(USD)  Quantity
Product_Category
Entertainment                100         1
Fashion                      100         1
Healthcare                   100         1
Home                         100         1
Office                       100         1

In [22]:
df.groupby('Product_Category')[['Quantity']].aggregate([min, max, sum, 'mean'])

                 Quantity
                      min  max     sum       mean
Product_Category
Entertainment           1  100   98107  49.851118
Fashion                 1  100  101024  51.255200
Healthcare              1  100   99418  50.905274
Home                    1  100  104453  50.705340
Office                  1  100  102387  50.913476

In [24]:
df.groupby('Product_Category')[['Quantity']].aggregate([min, max, sum, 'mean', 'std', 'count'])

                 Quantity
                      min  max     sum       mean        std count
Product_Category
Entertainment           1  100   98107  49.851118  29.184244  1968
Fashion                 1  100  101024  51.255200  28.687947  1971
Healthcare              1  100   99418  50.905274  29.265929  1953
Home                    1  100  104453  50.705340  28.917479  2060
Office                  1  100  102387  50.913476  28.983277  2011

In [29]:
df.groupby('Product_Category')[['Quantity']].aggregate([min, max, sum, 'mean', 'std', 'count'])['Quantity']

                  min  max     sum       mean        std  count
Product_Category
Entertainment       1  100   98107  49.851118  29.184244   1968
Fashion             1  100  101024  51.255200  28.687947   1971
Healthcare          1  100   99418  50.905274  29.265929   1953
Home                1  100  104453  50.705340  28.917479   2060
Office              1  100  102387  50.913476  28.983277   2011

In [35]:
df.groupby('Product_Category')[['UnitPrice(USD)', 'Quantity']].aggregate({
    'UnitPrice(USD)': 'median',
    'Quantity': 'mean',
}).describe()

       UnitPrice(USD)   Quantity
count        5.000000   5.000000
mean       175.600000  50.726082
std          1.140175   0.527538
min        174.000000  49.851118
25%        175.000000  50.705340
50%        176.000000  50.905274
75%        176.000000  50.913476
max        177.000000  51.255200